<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pipi.common.persistence.mapper.FunGiftMapper" >
  <resultMap id="BaseResultMap" type="com.pipi.common.domain.FunGift" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fun_id" property="funId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="gift_id" property="giftId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fun_gift
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pipi.common.domain.FunGift" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fun_gift (fun_id, user_id, gift_id, 
      amount, created_at)
    values (#{funId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{giftId,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.pipi.common.domain.FunGift" >
    update fun_gift
    set fun_id = #{funId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      gift_id = #{giftId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, fun_id, user_id, gift_id, amount, created_at
    from fun_gift
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, fun_id, user_id, gift_id, amount, created_at
    from fun_gift
  </select>
  <select id="countByFunId" resultType="java.lang.Integer" parameterType="java.lang.Long" >
    select count(1)
    from fun_gift
    where  fun_id =#{funId,jdbcType=BIGINT}
  </select>

</mapper>